<!DOCTYPE html>
 <html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Sign In and Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="description" content="HomeByMe is an online interior design application that allows you to visualize your home ideas in 3D. Experiment with hundre ds of materials and well-known products to see your ideas come to life. Invite friends and family to view your progress and provide feedback as you make your decisions." />
        <meta name="keywords" content="home,design, furniture, house, build, floor, plan, free, online, draw, decorate, room" />
        <meta name="author" content="Cong Cong Pham" />

        <link rel="shortcut icon" href="./images/images/icon.ico"> 
        <link rel="stylesheet" type="text/css" href="./stylesheets/demo.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/style-signin.css" />
		<link rel="stylesheet" type="text/css" href="./stylesheets/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            {{#if message}}
            <div class="codrops-top">
                <strong>FAILED!</strong> :: {{ message }} ::
            </div>
            {{/if}}
            <header>
                <h1><span>Let's Get Started</span></h1>
                <h2>This will be an amazing experiment...</h2>
            </header>
            <section>			
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div class="ribbon"></div> 
                        <div class="decor"></div>
                        <div id="login" class="animate form">
                            <form  action="/signin" method="POST" autocomplete="on">
                                <br/>
                                <h1>Sign in</h1> 
                                <p> 
                                    <label for="email" class="email" data-icon="e" > Your email</label>
                                    <input id="email" name="username" required="required" type="email" placeholder="congtp@gmail.com"/> 
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button"> 
                                    <input type="submit" value="Sign in" /> 
								</p>
                                <p class="exbutton">
                                    <label class="externalaccount">or sign in via</label>
                                    <a href="/signin/facebook" class="fblogin"></a>
                                    <a href="" class="twlogin"></a>
                                    <a href="" class="gglogin"></a>
                                    <!-- <a href="" class="inlogin"></a> -->
                                    <!-- <input class="fblogin" type="" value=""> -->
                                    <!-- <input class="gglogin" type="" value="">
                                    <input class="twlogin" type="" value=""> -->
                                </p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="/signup" method="POST" autocomplete="on"> 
                                <br/>
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email *</label>
                                    <input id="emailsignup" name="username" required="required" type="email" placeholder="congtp@gmail.com"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password *</label>
                                    <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password *</label>
                                    <input id="passwordsignup_confirm" name="retypePassword" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="namesignup" class="name" data-icon="u" > Your name </label>
                                    <input id="namesignup" name="name" type="text"/>
                                </p>
                                <p> 
                                    <label for="phonesignup" class="phone" data-icon="u"> Your phone number </label>
                                    <input id="phonesignup" name="phone" type="text" />
                                </p>
                                <p> 
                                    <label for="addrsignup" class="addr" data-icon="u"> Your address </label>
                                    <input id="addrsignup" name="address" type="text"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and sign in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>
		